<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h3>検索結果</h3>
      <% if @products.exists? %>
        <table class="table">
          <tbody>
            <% @products.each do |product| %>
            <tr>
              <td><%= image_tag product.get_product_image, size: "50x50" %></td>
              <td><%= product.name %></td>
              <td>¥<%= product.price.to_s(:delimited) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div>一致する検索結果はありません</div>
      <% end %>
    </div>
  </div>
</div>
