<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Search Results</h2>
      <% if @products.exists? %>
        <div class="row no-padding card-wrapper">
            <% @products.each do |product| %>
              <div class="card shadow-lg m-2" style="width: 11.8rem;">
              <%= link_to product_path(product) do %>
                <%= image_tag product.get_product_image, size: "150x150", class: "card-img-top" %>
                  <div class="card-body text-black-50">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="card-title"><%= product.name %></p>
                        <p class="card-text">¥<%= product.price.to_s(:delimited) %></p>
                      </div>
                    </div>
                  </div>
              <% end %>
              </div>
            <% end %>
            </div>
      <% end %>
    </div>
  </div>
</div>