<head>
  <link rel="stylesheet" href="/nagano_cake/app/views/public/homes/about.css.erb">
</head>

<div class="about">
  <div class="mx-auto" style="width: 600px; padding-top:100px;">
    <h1 class="text-center">About</h1>
    <div class="text-center pt-4">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      さまざまなバリエーションをご用意しております。<br>
      また全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </div>
    <div class="pt-4">
      何か写真を入れる
    </div>
  </div>
</div>