<div class="ml-5 pi-5 pt-5">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-background table-bordered">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center" style="margin-top: 100px; height: 200;">
        <div style="margin: 50px;">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </div>
      </div>
      <div class="mt-3">
        <h3 class="d-flex">新着商品</h3>
        <div>新着商品４品表示</div>
      </div>
    </div>
  </div>
</div>