<div class="ml-5 pl-5">
<h3 class="ml-5">ジャンル編集</h3>

<%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
<div class="px-5 mx-5">
  <a>ジャンル名</a>
  <a><%= f.text_field :name %></a>
  <a><%= f.submit '変更を保存', class: "btn btn-secondary" %></a>
<% end %>
</div>