<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ジャンル編集</h2>
      <%= render 'layouts/errors', obj: @genre %>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
      <div class="px-4 form-inline">
        <div class="mt-5">ジャンル名</div>
        <div class="pl-3 mt-5"><%= f.text_field :name %></div>
        <div class="pl-3 mt-5"><%= f.submit '変更を保存', class: "btn btn-secondary" %></div>
      <% end %>
      </div>
    </div>
  </div>
</div>