  <li>
  <%= link_to about_path,class: 'nav-link text-light' do %>
  About
  <% end %>
  </li>
  <li>
  <%= link_to products_path,class: 'nav-link text-light' do %>
  商品一覧
  <% end %>
  </li>
  <li>
  <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
  新規登録
  <% end %>
  </li>
  <li>
  <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
  ログイン
  <% end %>
  </li>