<footer style="margin-bottom: 0px; width: 100%; background-color: #b0c4de;">
  <div class='container mt-5 text-black-50'>
      <div class='mx-auto' style="text-align: center; font-family: cursive; font-size: 20px; color: white;">
        <p>©Nagano Cake .inc<br>produced by team Fantastic</p>
      </div>
    </div>
</footer>